{% extends 'base.html.twig' %}
{% block title %}Kies uw Stoelen!{% endblock %}
{% block body %}
    <section class="overview mt-5">
        <div class="container-fluid mt-5">
        <form method="POST" name="chooseseats" action="" autocomplete="off" novalidate>
            <div class="row">
                <div class="col-8 col-lg-3 offset-2 offset-lg-1 ticket-card">
                    <div class="card">
                        <img class="card-img-top" src="http://fullstacksyntra.be/{{ moviePoster }}" alt="Card image cap">
                    </div>
                </div>
                <div class="col-12 col-lg-7 offset-1">
                    <div class="ticket-info">
                        <h2 class="card-title card-title-ticket font-weight-bold">{{filmTitle}}</h2>
                        <h5 class="card-title card-title-ticket font-weight-bold">Zaal: {{auditorium}} -- Uur: {{showDateTime}}</h5>
                    </div>
                    <div class="row text-center mt-5">
                    
                        <div class="col-2 breadcrumb-link py-1">Selecteer je Tickets</div>
                        <div class="col-2 current breadcrumb-link py-1">Stoelen selecteren</div>
                        <div class="col-2 breadcrumb-link py-1">Ticket</div>
                    </div>
                    <div class="row">
                        <h3 class="mt-5">
                        Selecteer je stoelen:
                        </h3>
                    </div>
                    
                    <div class="row">
                        <div class="col-10">
                        <div class="d-flex justify-content-center">
                            <div id="a1" class="square square2"></div>
                            <div id="a2" class="square square2"></div>
                            <div id="a3" class="square square2"></div>
                            <div id="a4" class="square square2"></div>
                            <div id="a5" class="square square2"></div>
                            <div id="a6" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="b1" class="square square2"></div>
                            <div id="b2" class="square square2"></div>
                            <div id="b3" class="square square2"></div>
                            <div id="b4" class="square square2"></div>
                            <div id="b5" class="square square2"></div>
                            <div id="b6" class="square square2"></div>
                            <div id="b7" class="square square2"></div>
                            <div id="b8" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="c1" class="square square2"></div>
                            <div id="c2" class="square square2"></div>
                            <div id="c3" class="square square2"></div>
                            <div id="c4" class="square square2"></div>
                            <div id="c5" class="square square2"></div>
                            <div id="c6" class="square square2"></div>
                            <div id="c7" class="square square2"></div>
                            <div id="c8" class="square square2"></div>
                            <div id="c9" class="square square2"></div>
                            <div id="c10" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="d1" class="square square2"></div>
                            <div id="d2" class="square square2"></div>
                            <div id="d3" class="square square2"></div>
                            <div id="d4" class="square square2"></div>
                            <div id="d5" class="square square2"></div>
                            <div id="d6" class="square square2"></div>
                            <div id="d7" class="square square2"></div>
                            <div id="d8" class="square square2"></div>
                            <div id="d9" class="square square2"></div>
                            <div id="d10" class="square square2"></div>
                            <div id="d11" class="square square2"></div>
                            <div id="d12" class="square square2"></div>
                            <div id="d13" class="square square2"></div>
                            <div id="d14" class="square square2"></div>
                            <div id="d15" class="square square2"></div>
                            <div id="d16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="e1" class="square square2"></div>
                            <div id="e2" class="square square2"></div>
                            <div id="e3" class="square square2"></div>
                            <div id="e4" class="square square2"></div>
                            <div id="e5" class="square square2"></div>
                            <div id="e6" class="square square2"></div>
                            <div id="e7" class="square square2"></div>
                            <div id="e8" class="square square2"></div>
                            <div id="e9" class="square square2"></div>
                            <div id="e10" class="square square2"></div>
                            <div id="e11" class="square square2"></div>
                            <div id="e12" class="square square2"></div>
                            <div id="e13" class="square square2"></div>
                            <div id="e14" class="square square2"></div>
                            <div id="e15" class="square square2"></div>
                            <div id="e16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="f1" class="square square2"></div>
                            <div id="f2" class="square square2"></div>
                            <div id="f3" class="square square2"></div>
                            <div id="f4" class="square square2"></div>
                            <div id="f5" class="square square2"></div>
                            <div id="f6" class="square square2"></div>
                            <div id="f7" class="square square2"></div>
                            <div id="f8" class="square square2"></div>
                            <div id="f9" class="square square2"></div>
                            <div id="f10" class="square square2"></div>
                            <div id="f11" class="square square2"></div>
                            <div id="f12" class="square square2"></div>
                            <div id="f13" class="square square2"></div>
                            <div id="f14" class="square square2"></div>
                            <div id="f15" class="square square2"></div>
                            <div id="f16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="g1" class="square square2"></div>
                            <div id="g2" class="square square2"></div>
                            <div id="g3" class="square square2"></div>
                            <div id="g4" class="square square2"></div>
                            <div id="g5" class="square square2"></div>
                            <div id="g6" class="square square2"></div>
                            <div id="g7" class="square square2"></div>
                            <div id="g8" class="square square2"></div>
                            <div id="g9" class="square square2"></div>
                            <div id="g10" class="square square2"></div>
                            <div id="g11" class="square square2"></div>
                            <div id="g12" class="square square2"></div>
                            <div id="g13" class="square square2"></div>
                            <div id="g14" class="square square2"></div>
                            <div id="g15" class="square square2"></div>
                            <div id="g16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="h1" class="square square2"></div>
                            <div id="h2" class="square square2"></div>
                            <div id="h3" class="square square2"></div>
                            <div id="h4" class="square square2"></div>
                            <div id="h5" class="square square2"></div>
                            <div id="h6" class="square square2"></div>
                            <div id="h7" class="square square2"></div>
                            <div id="h8" class="square square2"></div>
                            <div id="h9" class="square square2"></div>
                            <div id="h10" class="square square2"></div>
                            <div id="h11" class="square square2"></div>
                            <div id="h12" class="square square2"></div>
                            <div id="h13" class="square square2"></div>
                            <div id="h14" class="square square2"></div>
                            <div id="h15" class="square square2"></div>
                            <div id="h16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="i1" class="square square2"></div>
                            <div id="i2" class="square square2"></div>
                            <div id="i3" class="square square2"></div>
                            <div id="i4" class="square square2"></div>
                            <div id="i5" class="square square2"></div>
                            <div id="i6" class="square square2"></div>
                            <div id="i7" class="square square2"></div>
                            <div id="i8" class="square square2"></div>
                            <div id="i9" class="square square2"></div>
                            <div id="i10" class="square square2"></div>
                            <div id="i11" class="square square2"></div>
                            <div id="i12" class="square square2"></div>
                            <div id="i13" class="square square2"></div>
                            <div id="i14" class="square square2"></div>
                            <div id="i15" class="square square2"></div>
                            <div id="i16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="j1" class="square square2"></div>
                            <div id="j2" class="square square2"></div>
                            <div id="j3" class="square square2"></div>
                            <div id="j4" class="square square2"></div>
                            <div id="j5" class="square square2"></div>
                            <div id="j6" class="square square2"></div>
                            <div id="j7" class="square square2"></div>
                            <div id="j8" class="square square2"></div>
                            <div id="j9" class="square square2"></div>
                            <div id="j10" class="square square2"></div>
                            <div id="j11" class="square square2"></div>
                            <div id="j12" class="square square2"></div>
                            <div id="j13" class="square square2"></div>
                            <div id="j14" class="square square2"></div>
                            <div id="j15" class="square square2"></div>
                            <div id="j16" class="square square2"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="k1" class="square square2"></div>
                            <div id="k2" class="square square2"></div>
                            <div id="k3" class="square square2"></div>
                            <div id="k4" class="square square2"></div>
                            <div id="k5" class="square square2"></div>
                            <div id="k6" class="square square2"></div>
                            <div id="k7" class="square square2"></div>
                            <div id="k8" class="square square2"></div>
                            <div id="k9" class="square square2"></div>
                            <div id="k10" class="square square2"></div>
                            <div id="k11" class="square square2"></div>
                            <div id="k12" class="square square2"></div>
                            <div id="k13" class="square square2"></div>
                            <div id="k14" class="square square2"></div>
                            <div id="k15" class="square square2"></div>
                            <div id="k16" class="square square2"></div>
                            <div id="k17" class="square square2"></div>
                            <div id="k18" class="square square2"></div>
                            <div id="k19" class="square square2"></div>
                            <div id="k20" class="square square2"></div>
                            
                        </div>
                        <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn order-button btn-md mt-5" formaction="/reservering">VOLGENDE</button>
                                </div>
                        </div>
                        <div>
                            <h6 id="ticketAmount">{{totalAmount}}</h6>
                        </div>
                        <div>
                            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        </div>
                        </div>
                                     
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/orderscript.js') }}"></script>
    <script>
      // Material Select Initialization
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
      });
    </script>
{% endblock %}