{% extends 'base.html.twig' %}
{% block title %}{{ info[0].movie_title }} - De filmschuur {% endblock %}
{% block midcontent %}
    <div><h3>{{ info[0].movie_title }}</h3></div>
{% endblock  %}
{% block body %}
<section class="lightbody">
<div class="container-fluid">
    <div class="row darkbody">
        <div class="col-10 offset-1 mt-4 video text-center">
            <iframe src="{{ info[0].trailer_link }}" scrolling="no" allowfullscreen></iframe>
            <a class="pijl" href="#movie-details"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-8 offset-2 movie-details" id="movie-details">
            <div class="row">
                <div class="col-4 offset-1 mt-3">
                    <h1>{{ info[0].movie_title }}</h1>
                   
                    <div class="info mt-4">
                        <p>Genre: {{ info[0].genreList }}</p>
                        <p>Duur: {{ info[0].movie_length }} minuten</p>
                        <p>Release: {{ info[0].release_year }}</p>
                        <p>Taal: {{ info[0].spokenlanguageList }}</p>
                        <p>Ondertitels: {{ info[0].undertitlelanguageList }}</p>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <div class="bestellen mt-3">
                        <form>
                            <div class="row">
                                <div class="col-8 date-picker">
                                    <div class="form-check form-check-inline">
                                        <select class="mdb-select md-form overview-form">
                                            <option value="" disabled selected>Kies datum:</option>
                                            {% for date in dates %}
                                                <option value="{{ date.vertoningsdata }}">{{ date.vertoningsdata }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                        <div class="col-2 clearfix">
                        <a href="/tickets/order" class="btn order-button btn-lg">Bestellen</a>
                        </div>
                        </form>
                    </div>
                    <div class="inhoud mt-5">
                        <h1>Korte inhoud:</h1>
                        <p class="sans-serif">
                            {{ info[0].synopsis }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-1 directors mt-5">
                <h1>Regisseur(s):</h1>
                <div class="row">
                    <div class="col-8">
                    {% if directorInfo|length > 1 %}
                        <a href="#" data-toggle="modal" data-target="#director1">{{directorInfo[0].Directors}}</a>
                        <a href="#" data-toggle="modal" data-target="#director2">{{directorInfo[1].Directors}}</a>
                        {% else %}
                        <a href="#" data-toggle="modal" data-target="#director1">{{directorInfo[0].Directors}}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-5 offset-1 actors head-img mt-5 mb-2">
                <h1>Acteurs:</h1>
                <div class="row mt-2">
                    <div class="col-12">
                        <p>{{ info[0].actorsList }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% if directorInfo|length > 1 %}
    <div class="modal fade" id="director1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{directorInfo[0].Directors}}</h5>
                </div>
                <div class="modal-body">
                    <p>Name: <span>{{directorInfo[0].Directors}}</span></p>
                    <p>Geboortedatum: <span>{{directorInfo[0].DateOfBirth}}</span></p>
                    <p>Geboorteplaats: <span>{{directorInfo[0].PlaceOfBirth}}</span></p>
                    <p class="dateOfDeathDiv">Sterfdatum: <span class="dateOfDeath">{{directorInfo[0].DateOfDeath}}</span></p>
                    <p class="placeOfDeathDiv">Sterfplaats: <span class="placeOfDeath">{{directorInfo[0].PlaceOfDeath}}</span></p>
                    <p>Andere films door deze regisseur: <span>{{directorInfo[0].MovieTitles}}</span></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="close text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="director2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{directorInfo[1].Directors}}</h5>
                </div>
                <div class="modal-body">
                    <p>Name: <span>{{directorInfo[1].Directors}}</span></p>
                    <p>Geboortedatum: <span>{{directorInfo[1].DateOfBirth}}</span></p>
                    <p>Geboorteplaats: <span>{{directorInfo[1].PlaceOfBirth}}</span></p>
                    <p class="dateOfDeathDiv">Sterfdatum: <span class="dateOfDeath">{{directorInfo[1].DateOfDeath}}</span></p>
                    <p class="placeOfDeathDiv">Sterfplaats: <span class="placeOfDeath">{{directorInfo[1].PlaceOfDeath}}</span></p>
                    <p>Andere films door deze regisseur: <span>{{directorInfo[1].MovieTitles}}</span></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="close text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="modal fade" id="director1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{directorInfo[0].Directors}}</h5>
                </div>
                <div class="modal-body">
                    <p>Name: <span>{{directorInfo[0].Directors}}</span></p>
                    <p>Geboortedatum: <span>{{directorInfo[0].DateOfBirth}}</span></p>
                    <p>Geboorteplaats: <span>{{directorInfo[0].PlaceOfBirth}}</span></p>
                    <p class="dateOfDeathDiv">Sterfdatum: <span class="dateOfDeath">{{directorInfo[0].DateOfDeath}}</span></p>
                    <p class="placeOfDeathDiv">Sterfplaats: <span class="placeOfDeath">{{directorInfo[0].PlaceOfDeath}}</span></p>
                    <p>Andere films door deze regisseur: <span>{{directorInfo[0].MovieTitles}}</span></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="close text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    
</div>

</main>
{% endblock %}
{% block scripts %}

    <script src="{{ asset('js/filmscript.js') }}"></script>

    <script>
      // Material Select Initialization
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
      });
    </script>
{% endblock %}