<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!--Navbar -->
<<<<<<< HEAD
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#"><img src="{{ asset('img/logoDFS.svg') }}" alt=""></a>
=======
    <nav class="navbar navbar-expand-lg navbar-dark default-color py-2">
        <a class="navbar-brand" href="#"><img src="{{ asset('img/logo.png') }}" alt=""></a>
>>>>>>> 685ed1b4794dd5d6907d40ca1a761c155d5d7374
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <div class="navbar-nav ml-auto midtext">
                <div><h3>De Filmschuur</h3></div>
                <div><p>"In De FilmSchuur kan je niet alleen films bekijken maar ze ook beleven."</p></div>
            </div>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item">
                    <a class="nav-link" href="#">PROGRAMMA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">INFORMATIE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    {% block body %}
    {% endblock %}

            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/mdb.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
