{% extends 'base.html.twig' %}
{% block title %}De filmschuur{% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
    {% endblock %}
{% block body %}
<body class="orangebody">
<main class="container-fluid">
<form method="POST" action="" name="inlogForm" class="text-center border border-light p-5  max-vw-75" autocomplete="off" novalidate>

      <div class="mb-4">
         <img src ="{{ asset('img/lock.svg') }}" alt ="slot"/>
      </div>

      <div class ="col-12 mt-2">
        <h4 class=" text-center mb-2 ">LOGIN</h4>
      </div>
      <div class ="col-12 mb-5">
        <p class>Gebruik je DFS-account</p>
      </div>

      {% if error %}
        <div class= "alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <div class ="row">
          <div class ="col-12 col text-left mb-4">
          <!-- E-mail -->
              <label for="loginFormEmail">E-mail:</label>
              <label class ="errorEmail"></label>
              <input id="loginFormEmail" type="email" name="loginFormEmail" value ="{{ last_username }}" class="form-control mb-0" placeholder="voorbeeld@email.be" autocomplete="off">
          </div>
      </div>

      <div class ="row">
          <div class ="col-12 text-left mb-5">
              <!-- Password -->
              <div class="form-group">
                  <label for= "loginFormPassword1">Paswoord:</label>
                  <label class ="errorPassword"></label>
                  <div class="input-group" id="show_hide_password">
                      <input id="loginPassword" class="form-control mb-0 " name="loginFormPassword1" value="" type="password" placeholder ="paswoord">
                      <div class="input-group-addon">
                          <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div class ="row">
        <div class ="col-6 text-left mt-2 mb-1">
          <!-- Lose password -->
          <p class="text-muted"><a href="" data-toggle="modal" data-target="#modalLoginForm">Wachtwoord vergeten?</a></p>
        </div>
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <div class ="col-6 text-right mb-1">
              <!-- Inlog button -->
              <button id="inlogbtn" class="btn" type="submit">INLOGGEN</button>
        </div>
    </div>

  </form>

   <!-- Modal -->

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="text-right close mt-2 mr-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="mt-2 text-center">
          <img src ="{{ asset('img/lock.svg') }}"  alt ="slot"/>
        </div>
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">RESET PASWOORD</h4>
        </div>
        <div class="modal-body mx-3">
          <div class="coll-12 md-form p-0">
            <label class="label-model mt-5 mb-n2" for="ResetFormEmail">E-mail:</label>
            <label class="errorReset mt-5 "></label>
            <input id="resetPasswordEmail" type="email" name="ResetFormEmail" value ="" class="form-control mb-0" placeholder="voorbeeld@email.be" autocomplete="off">
            <span id="helpResetPasswordEmail" class="text-center small text-muted">
            Instructies voor paswoord-reset worden verzonden naar bovenstaand e-mailadres. </span>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center mt-0 mb-3">
          <a href="Reset.php"><button class="btn2" type="submit">VERSTUREN</button></a>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="d-flex flex-row-reverse">
    <div class="triangle"></div>
      <div class= "d-flex" id = "triangle-bottomright">
      </div>
  </div>
    <!-- Default form register-->
  <div class="container-fluid">
      <div class="row">
      <!-- Terms of service -->
          <div class="right-corner col-12 text-right mb-2 mr-2">
              <div class ="col-6 text-right mb-0">
              </div>
              <!-- Sign up button -->
               <a href="/registreer"><button class="btn2" type="submit">MAAK EEN NIEUWE ACCOUNT AAN</button></a>
               <br>
               <a href="/algemene_voorwaarden" target="_blank">Algemene Voorwaarden -</a>
               <a href="/privacybeleid" target="_blank">Privacybeleid -</a>
               <a href="/cookiebeleid" target="_blank">Cookiebeleid</a>
          </div>
      </div>
  </div>
</footer>
{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/passwordviewer.js') }}"></script>      
    <script type="text/javascript" src="{{ asset('js/login.js') }}"></script>
{% endblock %}
</body>
{% endblock %}
    