{% extends 'base.html.twig' %}
{% block title %}Reset Paswoord De filmschuur{% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
    {% endblock %}
{% block body %}
<body class="orangebody">
    <main class="container-fluid">
     
        <form method="POST" action="" name="restForm" class="text-center border border-light p-5  max-vw-75" autocomplete="off" novalidate>

            {% block flash %}
                {% for message in app.flashes('notice') %}
                    <div class="message text-center text-uppercase mx-auto mb-3  p-2">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock flash %}
            
            <div class="mb-4">
                <img src ="{{ asset('img/lock.svg') }}" alt ="slot"/>
            </div>

            <div class ="col-12 mt-2">
                <h4 class=" text-center mb-2 ">RESET PASWOORD?</h4>
            </div>

           {#  {% if error %}
                <div class= "alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %} #}

            <div class ="row">
                <div class="col-12 text-left mb-5 p-0">
                    <label class= "mt-5 mb-n2" for="ResetFormEmail">E-mailadres:</label>
                    <label class="errorReset mt-5 mr-1 "></label>
                    <input id="resetPasswordEmail" type="email" name="ResetFormEmail" value ="" class="form-control mb-0" placeholder="voorbeeld@email.be" autocomplete="off">
                    <span id="helpResetPasswordEmail" class="text-center small text-muted">
                    Instructies voor paswoord-reset worden verzonden naar bovenstaand e-mailadres. </span>

                </div>
            </div>
                
            <div class=" d-flex justify-content-center mt-0 mb-3">
                <a href="Reset.php"><button id="resetbtn" class="btn2" type="submit">VERSTUREN</button></a>
            </div>
            <div>
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </div>
        </form>
        
    </main>

    <footer>
        <div class="d-flex flex-row-reverse">
            <div class="triangle"></div>
            <div class= "d-flex" id = "triangle-bottomright">
            </div>
        </div>
            <!-- Default form register-->
        <div class="container-fluid">
            <div class="row">
            <!-- Terms of service -->
                <div class="right-corner col-12 text-right mb-2 mr-2">
                    <div class ="col-6 text-right mb-0">
                    </div>
                    <!-- Sign up button -->
                    <a href="/registreer"><button class="btn2" type="submit">MAAK EEN NIEUWE ACCOUNT AAN</button></a>
                    <br>
                    <a href="/algemene_voorwaarden" target="_blank">Algemene Voorwaarden -</a>
                    <a href="/privacybeleid" target="_blank">Privacybeleid -</a>
                    <a href="/cookiebeleid" target="_blank">Cookiebeleid</a>
                </div>
            </div>
        </div>
    </footer>
    {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/mail.js') }}"></script>
    {% endblock %}
</body>
{% endblock %}
    