{% extends 'base.html.twig' %}
{% block title %}{{ info[0].movie_title }} - De filmschuur {% endblock %}
{% block midcontent %}
    <div><h3>{{ info[0].movie_title }}</h3></div>
{% endblock  %}
{% block body %}
<body class="lightbody">
<div class="container-fluid">
    <div class="row darkbody">
        <div class="col-10 offset-1 mt-4 video text-center">
            <iframe src="{{ info[0].trailer_link }}" scrolling="no" allowfullscreen></iframe>
            <a class="pijl" href="#movie-details"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-8 offset-2 movie-details" id="movie-details">
            <div class="row">
                <div class="col-4 offset-1 mt-3">
                    <h1>{{ info[0].movie_title }}</h1>
                    <div class="icons mt-2">
                        <img src="{{ asset('img/kijkwijzer-16.svg') }}" alt="">
                        <img src="{{ asset('img/kijkwijzer-16.svg') }}" alt="">
                        <img src="{{ asset('img/kijkwijzer-16.svg') }}" alt="">
                        <img src="{{ asset('img/kijkwijzer-16.svg') }}" alt="">
                    </div>
                    <div class="info mt-4">
                        <p>Genre: {{ info[0].genreList }}</p>
                        <p>Duur: {{ info[0].movie_length }} minuten</p>
                        <p>Release: {{ info[0].release_year }}</p>
                        <p>Taal: {{ info[0].spokenlanguageList }}</p>
                        <p>Ondertitels: {{ info[0].undertitlelanguageList }}</p>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <div class="bestellen mt-3">
                        <form action="">
                            <div class="row">
                                <div class="col-8 date-picker">
                                    <label class="mr-2" for="">Kies Datum:</label>
                                    <select class="mdb-select md-form dropdown-primary datechoose movie-date-choose">
                                        <option disabled selected>Kies datum:</option>
                                        {% for date in dates %}
                                            <option value="{{ date.vertoningsdata }}">{{ date.vertoningsdata }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        <div class="col-2 clearfix">
                        <button type="button" class="btn order-button btn-lg">Bestellen</button>
                        </div>
                        </form>
                    </div>
                    <div class="inhoud mt-5">
                        <h1>Korte inhoud:</h1>
                        <p class="sans-serif">
                            {{ info[0].synopsis }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-1 directors mt-5">
                <h1>Regisseur(s):</h1>
                <div class="row">
                    <div class="col-8">
                        {% for director in info %}
                            <a href="#" data-toggle="modal" data-target="#exampleModal">{{director.directors}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-5 offset-1 actors head-img mt-5 mb-2">
                <h1>Acteurs:</h1>
                <div class="row mt-2">
                    <div class="col-12">
                        <p>{{ info[0].actorsList }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{directorInfo[0].Directors}}</h5>
                </div>
                <div class="modal-body">
<<<<<<< HEAD
                    <ul>
                        <li>Name: {{directorInfo[0].Directors}}</li>
                        <li>Geboortedatum: {{directorInfo[0].DateOfBirth}}</li>
                        <li>Geboorteplaats: {{directorInfo[0].PlaceOfBirth}}</li>
                        <li>Sterfdatum: {{directorInfo[0].DateOfDeath}}</li>
                        <li>Plaats van overlijden: {{directorInfo[0].PlaceOfDeath}}</li>
                        <li>Andere films die deze regisseur gemaakt heeft: {{directorInfo[0].MovieTitles}}</li>
                    </ul>
=======
>>>>>>> 77eec5c286e21b2adf448855d52561e18911ff06
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="close text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
    <script>
      // Material Select Initialization
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
      });
    </script>
{% endblock %}
</body>
{% endblock %}
