<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ReserveringsTicket{% endblock %}</title>

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css'))}}">
            <link rel="stylesheet" href="{{ absolute_url(asset('css/mdb.min.css'))}}">
            <link rel="stylesheet" href="{{ absolute_url(asset('css/main.css'))}}">
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
  
    <body class="container p-5">

      <header class="row text-center">
        <div class="col-6">
          <img src="{{ absolute_url(asset('img/logo.png'))}}" class="img-fluid p-4" alt="logo Filmschuur">
        </div>
        <div class="col-6">
          <img src="" class="img-fluid px-5 pt-5 pb-3" alt="barcode">
        </div>
        <div class="col-12 pb-4 text-center">
          <h3>"In de filmschuur kan je niet alleen films bekijken maar ze ook beleven"</h3>
        </div>
      </header>
      <main>
        <div class="row welcome py-2">
          <div class="col-12">
            <!--voornaam-->
            <p>Dag Koen</p>
            <p>Hieronder vind je alle detais van je <span class="emphezise">reservering</span> terug. Het DFS-team wenst je alvast veel filmplezier.</p>
          </div>
        </div>
        <div class="row text-center pb-3">
          <div class="col-12 title pt-3 pb-2">
            <!--filmtitle-->
            <h1 class="font-weight-bold">{{filmTitle}}</h1>
          </div>
        </div>

        <div class="row text-center pb-3">
          <div class="col-3 pl-0">
            <div class="blueborder pt-2">
              <!--datum-->
              <p >Datum voorstelling:</p>
              <h3>{{showDateTime[0]}}</h3>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div class="blueborder pt-2">
              <!--uur-->
              <p >Uur voorstelling:</p>
              <h3>{{showDateTime[1]}}</h3>
            </div>
          </div>
          <div class="col-3 pt-2  zaal">
            <!--zaal-->
            <p >Zaal:</p>
            <h3>Muybridge</h3>
          </div>
          <div class="col-3 pr-0">
            <div class="blueborder pt-2">
            <!--aantal tickets-->
              <p >Aantal tickets:</p>
              <h3>{{totalAmount}}</h3>
            </div>
          </div>
        </div>

        <div class="row text-center pb-2">
          <div class="col-1 pt-2 pb-2 rij">
            <!--rij-->
            <p >Rij:</p>
            <h3>F</h3>
          </div>
          <div class="col-1 pt-2 pb-2 zetel mr-3">
            <!--zetel-->
            <p >Zetel:</p>
            <h3>7</h3>
          </div>
          <div class="col-1 pt-2  pb-2 rij">
            <!--rij-->
            <p >Rij:</p>
            <h3>F</h3>
          </div>
          <div class="col-1 pt-2 pb-2 zetel  mr-2">
            <!--zetel-->
            <p >Zetel:</p>
            <h3>8</h3>
          </div>
        </div>

        <div class="row text-center pb-2">
          <div class="col-4 pt-2 pl-0">
            <div class="blueborder pt-2">
              <!--voornaam+naam-->
              <p >Jouw naam:</p>
              <h3>Koen Michiels</h3>
            </div>
          </div>
          <div class="col-5 pt-2 pl-0">
            <div class="blueborder pt-2">
              <!--Jouw email-->
              <p >Jouw email:</p>
              <h3 class="text-truncate">koen.michiels@telenet.be</h3>
            </div>
          </div>
          <div class="col-1 pt-2 pl-0">
            <div class="blueborder pt-2">
              <!--Parking-->
              <p >Parking:</p>
              <h3><i class="fas fa-check"></i></h3>
            </div>
          </div>
          <div class="col-2 pt-2 px-0">
            <div class="blueborder pt-2">
              <!--aantal tickets-->
              <p >Totaalprijs:</p>
              <h3>€{{totalprice}}</h3>
            </div>
          </div>
        </div>

        <div class="row welcome">
          <div class="col-12 pb-4">
            <p><strong>Hoe krijg ik toegang tot de zaal?</strong></p>
            <p><strong>Print</strong> dit reserveringsbewijs thuis af <strong>of</strong> bewaar het op je <strong>smartphone</strong> en ga hiermee rechtstreeks naar de snelkassa.
              Na betaling ontvang je het eigenlijk toegangsticket</p>
          </div>
        </div>

      </main>

            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="{{ absolute_url(asset('js/jquery-3.3.1.min.js'))}}"></script>
                      <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ absolute_url(asset('js/bootstrap.min.js'))}}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>

</body>
</html>